DATABASE_URL=your-database-url
DEEPSEEK_API_KEY=your-chatmodel-api-key
DEEPSEEK_BASE_URL=your-chatmodel-base-url
DEEPSEEK_MODEL=your-chatmodel
SECRET_KEY=your-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=your-expire-minutes
APP_NAME=ChatDemo
EMBEDDING_MODEL=your-embedding-model
EMBEDDING_API_KEY=your-embedding-api-key
EMBEDDING_BASE_URL=your-embedding-base-url
COS_SECRET_ID=cos-secret-id
COS_SECRET_KEY=cos-secret-key
COS_REGION=ap-xxxx
COS_BUCKET=chat-demo-xxxx
COS_SCHEMA=https